STELLAR_NETWORK=testnet
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_DESTINATION_ACCOUNT=GXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
STELLAR_PAYMENT_ASSET=XLM
STELLAR_PAYMENT_AMOUNT=1.0000000
PORT=8791
GITHUB_TOKEN=
